In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

# Wranglin' –– Corraling Unruly Data
One bit at a time
=====

**Version 0.1**

By AA Miller 2019 Mar 26

Webster's Dictionary$^\ast$ defines wrangler as:

**wrangler** noun

wran·gler | raŋ-g(ə-)lər

(short for horse-wrangler, probably partial translation of Mexican Spanish caballerango groom): a ranch hand who takes care of the saddle horses broadly : cowboy

$^\ast$actually https://www.merriam-webster.com/dictionary/ - Webster's didn't define wrangler in the way I wanted

How then, as astronomers, are we all like cowhands?

Data are often like horses in that: they all differ, rarely conform to a single standard set of behavior, and they love to eat hay.$^\dagger$

$^\dagger$I made that last one up.

Thus, in our efforts to better understand the Universe, we must often manipulate, coax, and, in some cases, force our data to "behave." This involves a variety of tasks, such as: gathering, cleaning, matching, restructuring, transforming, filtering, combining, merging, verifying, and fixing data.

Here is a brief and unfortunate truth, there isn't a single person in the entire world that would organize data in *exactly* the same way that you would.

As a result, you may find that data that are useful to you are not organized in an optimal fashion for use in your workflow/software.

Hence: the need to wrangle.

There is one important and significant way in which our lives as astronomers are much better than the average data scientist: even though our data are "worthless," virtually all of it is numbers.

Furthermore, I contend that most astronomical data can easily be organized into a simple tabular structure.

Yesterday we joked that you could write a 10 page text document describing every individual galaxy in a galaxy cluster with 5000 members, but no one would ever do that.

Nevertheless, as you will see during the exercises, even with relatively simple, small numerical data sets there is a need for wrangling.

And wrangling brings up a lot of issues...

Consider the following data set that contains the street names for my best friends from childhood:

    ['Ewing', 'Isabella', 'Reese', 'Isabella', 
     'Thayer', 'Reese', 'Reese', 'Ewing', 'Reece']

Do you notice anything interesting?

Either my hometown has a street named "Reese"  and a street named "Reece", or the last entry was input incorrectly. 

If the later is true, then we have to raise the question of: what should we do?

For this particular data set, it would be possible to create a verification procedure to test for similar errors.

1. Collect the names of every street in the city (from post office?)
2. Confirm every instance in the data set has a counterpart.

For any instances where this isn't the case, one could then intervene with a correction.

This particular verification catches this street name error, but it doesn't correct for the possibility that the person doing the data entry may have been reading addresses really quickly and the third "Reese" entry should have actually said "Lawndale."

(verification is really hard)

This also raises a question about data provenance. 

Data provenance is a historical record of the data and its origins.

If you are making "corrections" to the data, then each and every one of those corrections should be reported (this is similar to the idea of logging from yesterday's databases talk). Ideally, these reports would live with the data so others could understand how things have changed.

If you did change "Reece" to "Reese", anyone working with the data should be able to confirm those changes.

Suppose now you wanted to use the same street name data set to estimate which street I lived on while growing up. 

One way to mathematically approach this problem would be to convert the streets in the data set to GPS coordinates, and then to perform a KDE of the PDF for the coordinates of where I lived. 

This too is a form of wrangling, because the data you have (street names) are not the data you need (coordinates).

Why harp on this? 

In practice, data scientists (including astronomers) spend an unreasonable amount of time manipulating and quality checking data (some indsutry experts estimate that up to 80% of their time is spent warnglin').

Today, we will work through several examples that require wrangling, while, hopefully, building some strategies to minimize the amount of time you spend on these tasks in the future.

For completeness, I will mention that there is a famous canonical paper about [data wrangling](http://vis.stanford.edu/files/2011-Wrangler-CHI.pdf), which introduces the [`Wrangler`](http://vis.stanford.edu/wrangler/), a tool specifically designed to take heterogeneous (text) data, and provide a set of suggested operations/manipulations to  create a homogenous table amenable to standard statistical analysis. 

One extremely nice property of the `Wrangler` is that it records every operation performed on the data, ensuring high-fidelity reporting on the data provenance. We should do a better job of this in astronomy.

Today, we are going to focus on `python` solutions to some specific astronomical data sets.

Hopefully you learn some tricks to make your work easier in the future.

## Problem 1) The Sins of Our Predecessors

If at any point in your career you need to access archival infrared data, you will likely need to retrieve that information from the [NASA IPAC InfRed Science Archive](https://irsa.ipac.caltech.edu). IRSA houses the data for every major NASA IR mission, and several ground-based missions as well (e.g., 2MASS, IRTF). Whether you are sudying brown dwarfs, explosive transients, solar system objects, star-formation, galaxy evolution, Milky Way dust and the resulting extinction of extragalactic observations, or quasars (and much more) the IR plays a critical role.

Given the importance of IR observations, it stands to reason that IRSA would provide data in a simple to read format for modern machines, such as comma separated values or FITS binary tables...

Right?...

**Right?...**

In fact, IRSA has created their own standard for storing data in a text file. If you haven't already, please download [irsa_catalog_WISE_iPTF14jg_search_results.tbl](https://northwestern.box.com/s/9lnpqwcmmke2f5wqptk2q1409kfydc2i), a file that is written in the standard IRSA format.

*shameless plug alert!* iPTF14jg is a [really strange star](https://arxiv.org/pdf/1901.10693.pdf) that exhibited a large outburst that we still don't totally understand. The associated data file includes [NEOWISE](https://neowise.ipac.caltech.edu/) observations of the mid-IR evolution of this outburst.

**Problem 1a**

Using `pandas` read the data in the IRSA table file into a `DataFrame` object.

*Hint 1* - you absolutely should look at the text file to develop a strategy to accomplish this goal.

*Hint 2* - you may want to manipulate the text file so that it can more easily be read by `pandas`. **If you do this** be sure to copy the file to another name as you will want to leave the original intact.

In [33]:
# Use pandas to read in the IRSA data

irsa_header = pd.read_csv('Day2/irsa_catalog_WISE_iPTF14jg_search_results.tbl',header = 89, sep='|')
column_names = list(irsa_header)[1:-1]
irsa_data = pd.read_csv('Day2/irsa_catalog_WISE_iPTF14jg_search_results.tbl',
                        skiprows = 93, names = column_names, delim_whitespace=True)

In [34]:
irsa_data

,ra,dec,sigra,sigdec,sigradec,w1mpro,w1sigmpro,w1snr,w1rchi2,w2mpro,...,w4sigmpro_allwise,tmass_key,j_m_2mass,j_msig_2mass,h_m_2mass,h_msig_2mass,k_m_2mass,k_msig_2mass,dist,angle
0,40.125566,60.879306,0.0947,0.0936,-0.0337,13.251,0.038,28.8,0.8767,12.735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.028668,242.330013
1,40.125574,60.879297,0.0925,0.0874,-0.0397,13.241,0.036,30.0,1.2610,12.629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048011,192.659014
2,40.125623,60.879318,0.0808,0.0794,0.0098,12.753,0.039,27.8,0.7640,11.901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.079498,69.867298
3,40.125553,60.879286,0.0663,0.0608,-0.0156,12.774,0.028,38.6,1.3610,11.935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.097389,209.287467
4,40.125572,60.879280,0.0645,0.0599,-0.0223,12.840,0.028,38.7,1.5550,11.897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.107707,187.006050
5,40.125574,60.879280,0.1164,0.1059,-0.0390,13.587,0.041,26.4,1.6470,13.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.108928,185.907602
6,40.125564,60.879274,0.0856,0.0860,-0.0310,13.198,0.035,31.2,1.7250,12.644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.131052,192.038104
7,40.125552,60.879271,0.0679,0.0685,-0.0218,12.807,0.028,38.8,1.4660,11.989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.147884,199.589209
8,40.125572,60.879269,0.1224,0.1104,-0.0547,13.496,0.044,24.6,0.9767,12.739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.149378,185.518975
9,40.125624,60.879273,0.1107,0.0933,-0.0383,13.355,0.038,28.7,1.5080,12.658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.154170,150.300579
10,40.125641,60.879278,0.0666,0.0631,-0.0228,12.774,0.027,39.6,1.4820,11.893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157204,137.514297
11,40.125557,60.879267,0.1325,0.1156,-0.0264,13.743,0.044,24.5,1.1620,13.081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160622,194.465237
12,40.125584,60.879265,0.1131,0.1036,0.0100,13.452,0.041,26.4,0.6449,12.819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.161765,177.827528
13,40.125605,60.879265,0.1104,0.1036,-0.0323,13.337,0.044,24.9,1.6260,12.645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.169772,164.744266
14,40.125560,60.879261,0.0691,0.0690,-0.0223,12.800,0.028,38.9,0.9064,12.008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.180061,190.993589
15,40.125555,60.879261,0.0644,0.0651,-0.0135,12.726,0.029,37.8,1.3240,11.907,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.182458,193.889599
16,40.125510,60.879271,0.0697,0.0660,-0.0277,12.630,0.034,31.5,1.7570,11.688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.186858,220.950772
17,40.125528,60.879264,0.0776,0.0845,-0.0188,12.690,0.032,33.7,1.3200,11.922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.188744,208.676638
18,40.125472,60.879300,0.1111,0.0966,-0.0342,13.329,0.038,28.6,1.8400,12.554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.192290,258.882033
19,40.125590,60.879256,0.1116,0.1096,-0.0214,13.379,0.050,21.9,1.0270,12.697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.194099,174.873269
20,40.125508,60.879269,0.0579,0.0629,-0.0187,12.589,0.027,39.8,1.6030,11.772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.194220,220.704324
21,40.125509,60.879266,0.0647,0.0608,-0.0256,12.650,0.028,38.5,1.1290,11.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200609,218.190096
22,40.125482,60.879280,0.1274,0.1154,-0.0538,13.636,0.048,22.7,2.9350,13.109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202157,237.948411
23,40.125558,60.879254,0.1059,0.1107,-0.0361,13.382,0.039,27.7,1.3060,13.205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.206640,190.700768
24,40.125535,60.879257,0.0687,0.0722,-0.0249,12.733,0.036,30.5,1.3200,11.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.207370,202.291479
25,40.125605,60.879253,0.0694,0.0674,-0.0116,12.774,0.031,35.2,1.9000,11.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.210961,167.919533
26,40.125532,60.879256,0.0602,0.0655,-0.0225,12.630,0.028,38.9,1.0680,11.699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.212678,203.445257
27,40.125514,60.879260,0.0321,0.0289,0.0046,10.832,0.017,63.1,1.1220,9.974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.212833,212.793665
28,40.125551,60.879251,0.0613,0.0560,-0.0197,12.642,0.025,42.7,0.9910,11.704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.217422,193.608490
29,40.125484,60.879271,0.0831,0.0906,-0.0328,13.262,0.037,29.0,0.9108,12.569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.217618,230.318160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,40.125426,60.879242,0.0566,0.0604,-0.0231,12.570,0.030,36.5,1.1770,11.735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.363697,227.846798
108,40.125471,60.879222,0.0934,0.1036,-0.0309,13.363,0.038,28.2,1.7930,12.748,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.369112,211.092077
109,40.125468,60.879219,0.1061,0.0965,-0.0289,13.424,0.039,27.8,1.2750,12.812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.382979,210.881741
110,40.125492,60.879212,0.0641,0.0598,-0.0116,12.775,0.028,38.2,2.2970,11.866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.385082,203.628929
111,40.125453,60.879222,0.1392,0.1355,-0.0157,13.752,0.052,21.0,1.3120,13.027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.388003,214.895720
112,40.125477,60.879215,0.0693,0.0593,-0.0215,12.771,0.027,39.6,1.2350,11.912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.388684,207.808027
113,40.125515,60.879203,0.0996,0.1017,-0.0465,13.317,0.040,27.1,0.7757,12.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.400204,196.479604
114,40.125546,60.879199,0.0624,0.0637,-0.0253,12.784,0.027,39.5,0.6670,11.892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.405212,188.578344
115,40.125413,60.879231,0.1117,0.0983,-0.0327,13.390,0.038,28.8,1.1990,12.867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.408775,225.773682
116,40.125549,60.879197,0.1106,0.1071,-0.0409,13.323,0.041,26.4,0.9945,12.639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.409745,187.666278
117,40.125504,60.879202,0.1058,0.1041,-0.0286,13.424,0.038,28.3,1.5880,12.937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.409883,198.929985
118,40.125442,60.879218,0.0626,0.0649,-0.0298,12.727,0.029,37.5,1.9390,11.886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.410240,216.079251
119,40.125436,60.879220,0.0884,0.0961,-0.0319,13.359,0.038,28.5,1.6360,12.860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.410597,217.817173
120,40.125482,60.879206,0.1017,0.1033,-0.0525,13.388,0.039,27.5,1.0040,12.771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.412617,204.615517
121,40.125508,60.879201,0.0595,0.0601,-0.0209,12.729,0.028,39.0,1.0330,11.968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.412651,197.697220
122,40.125424,60.879221,0.1131,0.1030,-0.0190,13.339,0.043,25.2,1.2140,12.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.421518,220.450847
123,40.125510,60.879198,0.0688,0.0660,-0.0268,12.827,0.029,36.9,1.1460,11.981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.421731,196.880550
124,40.125550,60.879194,0.1250,0.1098,-0.0364,13.614,0.041,26.4,2.5870,13.135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.422235,187.054691
125,40.125466,60.879206,0.0295,0.0298,0.0088,10.848,0.017,62.8,6.4840,9.962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.425700,208.113130
126,40.125549,60.879193,0.1361,0.1355,-0.0620,13.705,0.049,22.3,0.6866,12.985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.426454,187.293029
127,40.125386,60.879232,0.1362,0.1200,-0.0418,13.803,0.049,22.3,0.7825,13.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.439544,230.538310
128,40.125402,60.879219,0.1756,0.1349,-0.0354,13.417,0.080,13.5,1.9130,12.771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.453174,223.574167
129,40.125450,60.879195,0.0650,0.0627,-0.0236,12.829,0.031,35.0,2.8030,11.903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.471232,208.805123
130,40.125419,60.879191,0.0736,0.0604,-0.0255,12.777,0.027,39.9,0.8821,11.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.512441,213.279623
131,40.125359,60.879216,0.0631,0.0675,-0.0093,12.791,0.030,36.6,1.1300,11.972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.512985,228.885562
132,40.125277,60.879341,0.1150,0.1078,-0.0397,13.511,0.041,26.2,1.2990,12.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.542346,281.913746
133,40.125317,60.879219,0.1035,0.1091,-0.0272,13.328,0.038,28.6,1.8680,12.893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.565899,234.448038
134,40.125625,60.879152,0.1463,0.1293,-0.0575,13.734,0.048,22.9,0.9954,13.257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.574875,172.170603
135,40.125279,60.879235,0.1174,0.1057,-0.0497,13.360,0.049,22.3,0.7856,12.729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.592270,242.957045
136,40.126044,60.879184,0.1911,0.1661,-0.0549,14.036,0.070,15.4,4.3690,13.472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.929713,119.074968

That pure python solution is a bit annoying as it requires a for loop with a break, and specific knowledge about how IRSA tables handler data headers (hence the use of `linenum + 4` for `skiprows`). Alternatively, one could  manipulate the data file to read in the data.

In [ ]:
# 2nd solution - YOU DON'T NEED TO DO THIS

That truly wasn't all that better - as it required a bunch of clicks/text editor edits. (There are programs such as `sed` and `awk` that could be used to execute all the necessary edits from the command line, but that too is cumbersome and somewhat like the initial all `python` solution). 

If astronomers are creating data in a "standard" format, then it ought to be easy for other astronomers to access that data.

Fortunately, in this particular case, there is an easy solution - [`astropy Tables`](http://docs.astropy.org/en/stable/table/). 

IRSA tables are so commonly used throughout the community, that the folks at `astropy` have created a convenience method for all of us to read in tables created in that particular (unusual?) format.

**Problem 1b**

Use [`Table.read()`](http://docs.astropy.org/en/stable/api/astropy.table.Table.html#astropy.table.Table.read) to read in `irsa_catalog_WISE_iPTF14jg_search_results.tbl` to an `astropy Table` object.

In [36]:
Table.read?

In [38]:
from astropy.table import Table

irsa_table = Table.read('Day2/irsa_catalog_WISE_iPTF14jg_search_results.tbl', format = 'ipac') # complete

In [41]:
irsa_table['ra']

<MaskedColumn name='ra' dtype='float64' unit='deg' length=137>
40.1255655
 40.125574
40.1256226
40.1255528
40.1255725
40.1255736
40.1255644
40.1255517
40.1255718
40.1256236
40.1256406
40.1255571
       ...
40.1254655
40.1255491
40.1253863
40.1254017
40.1254504
40.1254195
40.1253594
40.1252771
40.1253172
40.1256247
40.1252789
40.1260438

A benefit to using this method, as opposed to `pandas`, is that data typing and data units are naturally read from the IRSA table and included with the associated columns. Thus, if you are uncertain if some brightness measurement is in magnitudes or Janskys, the `astropy Table` can report on that information.

Unfortunately, `astropy` does *not* know about every strange formating decision that every astronomer has made at some point in their lives (as we are about to see...)

## Problem 2) The Sins of Our Journals

Unlike IRSA/IPAC, which uses a weird but nevertheless consistent format for data tables, data retrieved from Journal articles essentially follows no rules. In principle, tables in Journal articles are supposed to be provided in a machine readable format. In practice, as we are about to see, this is far from the case.

For this particular wrangling case study we will focus on supernova light curves, a simple thing to report: time, filter, brightness, uncertainty on that brightness, that the community has nevertheless managed to mangle into some truly wild and difficult to parse forms.

(Sorry for the heavy emphasis on time-domain examples - I'm pulling straight from my own life today, but the issues described here are not perfectly addressed by any subfield within the astro umbrella)

Here is the LaTeX-formatted version of Table 4 from [Miller et al. 2011](https://iopscience.iop.org/article/10.1088/0004-637X/730/2/80/meta):

<img style="display: block; margin-left: auto; margin-right: auto" src="images/Miller11_tbl4.png" align=\"middle">

That is a very simple table to interpret, no?

Have a look at the ["machine-readible" file](https://northwestern.box.com/s/o9nxkr3o79xunfo2o7r8nnas2sskncrc) that ApJ provides for readers that might want to evaluate these photometric measurements.

**Problem 2a** 

Download the ApJ version of [Table 4](https://northwestern.box.com/s/o9nxkr3o79xunfo2o7r8nnas2sskncrc) from Miller et al. 2011 and read that table into either a `pandas DataFrame` or an `astropy Table`.

In [67]:
# read in the data from Miller et al 2011

adams_table_header = ['t_mid', 'J', 'J_err', 'H', 'H_err', 'Ks', 'Ks_err']

adams_table_apj = pd.read_csv('Day2/Miller_et_al2011_table4.txt', delim_whitespace=True,
                              skiprows=5, skipfooter=3, usecols = [0,1,3,4,6,7,9], 
                             names = adams_table_header)

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  import sys

In [69]:
adams_table_apj

       t_mid      J  J_err     H  H_err    Ks  Ks_err
0  55466.137  10.04   0.03  9.14   0.03  8.65    0.03
1  55468.145   9.99   0.03  9.06   0.04  8.64    0.04
2  55469.148  10.04   0.03  9.07   0.03  8.70    0.03
3  55479.109  10.11   0.03  9.11   0.03  8.63    0.04
4  55504.164  10.20   0.03  9.24   0.03  8.74    0.03
5  55513.195  10.29   0.03  9.34   0.03  8.79    0.03
6  55518.168  10.32   0.03  9.34   0.04  8.84    0.03
7  55527.117  10.35   0.03  9.40   0.03  8.89    0.03
8  55531.145  10.40   0.03  9.44   0.03  8.97    0.03
9  55543.066  10.45   0.03  9.48   0.04  9.06    0.04

That wasn't too terrible. But what if we consider a more typical light curve table, where there are loads of missing data, such as Table 2 from [Foley et al. 2009]():

<img style="display: block; margin-left: auto; margin-right: auto" src="images/Foley09_tbl2.png" align=\"middle">

Again, this table is straightforward to read, and it isn't hard to imagine how one could construct a machine-readable csv or other file from this information. But alas, this is not what is available from ApJ. So, we will need to figure out how to deal with both the missing data, "...", and the weird convention that many astronomers use where the uncertainties are (a) not reported in their own column, and (b) are not provided in the same units as the measurement itself. I can understand the former, but the later is somewhat baffling...

**Problem 2b** 

Download the ApJ version of [Table 2](https://northwestern.box.com/s/imo8sc0rudfwaa4iaa9qr2rvcwtgvieb) from Foley et al. 2009 and read that table into either a `pandas DataFrame` or an `astropy Table`.

In [88]:
# read in the data from Foley et al 2009

foley_apj = pd.read_csv('Day2/Foley_et_al2009_table2.txt', skiprows=2, delim_whitespace=True, skipfooter=1)

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

ParserError: Expected 11 fields in line 7, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [84]:
foley_apj

,JD,B,(mag),V,(mag).1,R,(mag).2,I,(mag).3,Unfiltered,(mag).4,Telescope
0,2454764.80,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,>19.5,KAIT,None
1,2454778.69,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,18.069,(092),KAIT
2,2454781.76,18.340,(084),17.828,(037),sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,KAIT
3,2454783.74,18.229,(062),17.718,(042),17.509,(041),17.377,(054),sdotsdotsdot,sdotsdotsdot,KAIT
4,2454784.64,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,17.736,(091),KAIT
5,2454784.71,18.230,(030),17.635,(030),17.570,(030),17.392,(030),sdotsdotsdot,sdotsdotsdot,Nickel
6,2454785.67,18.385,(030),17.660,(027),17.610,(023),17.425,(034),17.683,(038),KAIT
7,2454786.80,18.415,(030),17.710,(030),17.544,(030),17.358,(030),sdotsdotsdot,sdotsdotsdot,Nickel
8,2454787.67,18.596,(030),17.762,(030),17.552,(030),17.376,(030),sdotsdotsdot,sdotsdotsdot,KAIT
9,2454789.68,18.904,(030),17.827,(014),17.573,(011),17.353,(030),17.732,(028),KAIT
10,2454790.71,18.969,(030),17.871,(030),17.560,(030),17.278,(030),sdotsdotsdot,sdotsdotsdot,Nickel
11,2454792.70,19.563,(054),18.127,(022),17.689,(016),17.443,(030),sdotsdotsdot,sdotsdotsdot,KAIT
12,2454794.68,19.789,(072),18.377,(032),17.904,(025),17.541,(037),sdotsdotsdot,sdotsdotsdot,KAIT
13,2454795.78,20.297,(216),sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,sdotsdotsdot,18.009,(103),KAIT
14,2454798.65,20.390,(123),18.791,(033),18.308,(022),17.876,(039),18.388,(022),KAIT
15,2454799.66,sdotsdotsdot,sdotsdotsdot,18.921,(046),18.343,(029),17.919,(050),18.468,(040),KAIT
16,2454800.67,sdotsdotsdot,sdotsdotsdot,18.942,(035),18.347,(029),17.892,(033),18.482,(027),KAIT
17,2454801.64,sdotsdotsdot,sdotsdotsdot,19.004,(044),18.438,(026),17.964,(036),18.589,(031),KAIT
18,2454802.74,sdotsdotsdot,sdotsdotsdot,19.064,(082),18.472,(037),17.921,(030),18.635,(026),KAIT
19,2454803.63,sdotsdotsdot,sdotsdotsdot,19.130,(054),18.569,(031),18.087,(047),18.589,(030),KAIT
20,2454805.63,sdotsdotsdot,sdotsdotsdot,19.211,(095),18.851,(055),18.142,(056),18.682,(048),KAIT
21,2454809.67,sdotsdotsdot,sdotsdotsdot,19.288,(206),19.104,(135),sdotsdotsdot,sdotsdotsdot,18.909,(078),KAIT
22,2454811.61,sdotsdotsdot,sdotsdotsdot,19.462,(103),19.069,(073),18.374,(067),19.150,(060),KAIT
23,2454812.62,sdotsdotsdot,sdotsdotsdot,19.458,(207),19.118,(065),18.482,(077),19.070,(049),KAIT
24,2454831.63,21.372,(030),20.191,(030),19.647,(030),18.864,(030),sdotsdotsdot,sdotsdotsdot,Nickel

Okay - there is nothing elegant about that particular solution. But it works, and wranglin' ain't pretty. 

It is likely that you developed a solution that looks very different from this one, and that is fine. When data are provided in an unrulely format, the most important thing is to develop some method, any method, for converting the information into a useful format. Following whatever path you used above, it should now be easy to plot the light curve of SN 2008ha.

## Problem 3) My Heart Will Go On

Sometimes there is no difficultly whatsoever in reading in the data (as was the case in **Problems 1** and **2**), but instead the difficultly lies in wranglin' the data to be appropriate for the model that you are building.

For the next problem we will work with the famous [Titanic survival](https://www.kaggle.com/c/titanic/data?) data set. If you haven't already, please [download the csv file](https://northwestern.box.com/s/hx6airvgb4mukxvztvhlzvedkq8480ug) with the relevant information.

Briefly, [the Titantic](https://thefilmcricket.files.wordpress.com/2012/04/film-titanic_clar.jpg) is a [famous](https://wallpapercave.com/wp/jrF8rQK.jpg) historical ship that was thought to be unsinkable. **Spoiler alert** it hit an iceberg and sank. The data in the Titanic data set includes information about 891 passengers from the Titanic, as well as whether or not they survived. The aim of this data set is to build a machine learning model to predict which passengers survived and which did not.

The features include: 

|Feature    | Description |
|:---------:|:--------------------------------------:|
|PassengerId| Running index that describes the individual passengers|
|Pclass| A proxy for socio-economic status (1 = Upper class, 2 = Middle Class, 3 = Lower Class)|
|Name| The passenger's name|
|Sex | The passenger's sex|
|Age | The passenger's age - note age's ending in 0.5 are estimated |
|SibSp| The sum of the passenger's sibblings and spouces on board|
|Parch| The sum of the passenger's parents and children on board|
|Ticket| The ticket number for the passenger|
|Fare| The price paid for the ticket by th passenger|
|Cabin| The Cabin in which the passenger stayed|
|Embarked| The point of Origin for the Passenger: C = Cherbourg, S = Southampton, Q = Queenstown|

And of course, we are trying to predict:

|Label    | Description |
|:---------:|:--------------------------------------:|
|Survived| 1 = yes; 0 = no|

**Problem 3a**

Read in the Titanic training data and create the `scikit-learn` standard `X` and `y` arrays to hold the features and the labels, respectively.

In [5]:
titanic_df = pd.read_csv('Day2/titanic_kaggle_training_set.csv', comment='#') # complete

feat_list = list(titanic_df.columns)
label = 'Survived'
feat_list.remove(label)
X = titanic_df[feat_list]# complete
y = titanic_df.Survived# complete

Now that we have the data in the appropriate `X` and `y` arrays, estimate the accuracy with which a [K nearest neighbors](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html) classification model can predict whether or not a passenger would survive the Titanic disaster. Use $k=10$ fold cross validation for the prediction.

**Problem 3b**

Train a $k=7$ nearest neighbors machine learning model on the Titanic training set.

In [6]:
X

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
859,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
860,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
861,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
862,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
863,866,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
864,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
865,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
866,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
867,870,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
868,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
869,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
870,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
871,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
872,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
873,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
874,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
875,878,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
876,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
877,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
878,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
879,882,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
880,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
881,884,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
882,885,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
883,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
884,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
885,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
886,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
887,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
888,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=7) # complete
knn_clf.fit(X,y) # complete

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

Note - that should have failed! And for good reason - recall that `kNN` models measure the Euclidean distance between all points within the feature space. So, when considering the sex of a passenger, what is the *numerical* distance between male and female?

In other words, we need to wrangle this data before we can run the machine learning model. 

Most of the features in this problem are non-numeric (i.e. we are dealing with categorical features), and therefore we need to figure out how to include them in the `kNN` model.

The first step when wrangling for machine learning is to figure out if anything can be thrown away. We certainly want to avoid including any uninformative features in the model. 

*If you haven't already, now would be a good time to create a new cell and examine the contents of the csv*

In [7]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
859,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
860,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
861,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
862,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
863,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
864,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
865,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
866,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
867,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
868,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
869,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
870,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
871,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
872,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
873,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
874,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
875,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
876,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
877,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
878,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
879,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
880,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
881,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
882,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
883,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

**Problem 3c** 

Are there any features that *obviously* will not help with this classification problem?

*If you answer yes - ignore those features moving forward*

**Solution 3c**

We dont need names, (they are to hard to map).

Ticket and Cabin are also hard to map (they could be important, but we would waste a lot of time and would need to know the whole sample)

We can keep sex and embarkment since there are a few clases easily mappable.

Given that we have both categorical and numeric features, let's start with the numerical features and see how well they can predict survival on the Titanic.

One note - for now we are going to exclude `Age`, because as you saw when you examined the data, there are some passengers that do not have any age information. This problem, known as "missing data" is one that we will deal with before the end of this problem.

**Problem 3d**

How accurately can the numeric features, `Pclass`, `SibSp`, `Parch`, and `Fare` predict survival on the Titanic? Use a $k = 7$ Nearest Neighbors model, and estimate the model accuracy using 10-fold cross validation. 

*Hint 1 - you'll want to redefine your features vector `X`*

*Hint 2 - you may find [`cross_val_score`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html) from `scikit-learn` helpful*

In [43]:
from sklearn.model_selection import cross_val_score

X = titanic_df[['Pclass', 'SibSp', 'Parch', 'Fare']]# complete

knn_clf = KNeighborsClassifier(n_neighbors=7)# complete

cv_results = cross_val_score(knn_clf, X, y, cv = 10) # complete

print('The accuracy from numeric features = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy from numeric features = 68.51%

An accuracy of 68% isn't particularly inspiring. But, there's a lot of important information that we are excluding. As far as the Titanic is concerned, Kate and Leo taught us that [female passengers are far more likely to survive](https://qph.fs.quoracdn.net/main-qimg-93eb36091c7eec872b891fa51dc5722b), while [male passengers are not](http://hoycinema.abc.es/Media/201602/03/titanic-kate-dicaprio--644x362.jpg). So, if we can include gender in the model then we may be able to achieve more accurate predictions.

**Problem 3e**

Create a new feature called `gender` that equals 1 for male passengers and 2 for female passengers. Add this feature to your dataframe, and include it in a `kNN` model with the other numeric features. Does the inclusion of this feature improve the 10-fold CV accuracy?

In [108]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
map = {'male':1, 'female': 2}
gender = [map[value] for value in titanic_df.Sex]# complete
# complete

titanic_df['gender'] = gender

X = titanic_df[['Pclass', 'SibSp', 'Parch', 'Fare', 'gender']]# complete

cv_results = cross_val_score(knn_clf, X, y, cv =3) # complete

print('The accuracy when including gender = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy when including gender = 73.79%

A 14% improvement is pretty good! But, we can wrangle even more out of the gender feature. Recall that `kNN` models measure the Euclidean distance between sources, meaning the scale of each feature really matters. Given that the fare ranges from 0 up to 512.3292, the `kNN` model will see this feature as far more important than `gender`, for no other reason than the units that have been adopted. 

If women are far more likely to survive than men, then we want to be sure that gender is weighted at least the same as all the other features, which we can do with a minmax scaler. As a brief reminder - a minmax scaler scales all values of a feature to be between 0 and 1 by subtracting the minimum value of each feature and then dividing by the maximum minus the minimum.

**Problem 3f**

Scale all the features from the previous problem using a minmax scaler and evaluate the CV accuracy of the `kNN` model.

*Hint - you may find [`MinMaxScaler`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html) helpful*

In [116]:
MinMaxScaler?

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

knn_clf = KNeighborsClassifier(n_neighbors=7)# complete

cv_results = cross_val_score(knn_clf, Xminmax, y, cv = 3) # complete

print('The accuracy when scaling features = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy when scaling features = 77.73%

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Scaling the features leads to further improvement!

Now turn your attention to another categorical feature, `Embarked`, which includes the point of origin for each passenger and has three categories, `S`, `Q`, and `C`. We need to convert these values to a numeric representation for inclusion in the model.

**Problem 3g**

Convert the categorical feature `Embarked` to a numeric representation, and add it to the `titanic_df`.

In [13]:
# following previous example, set C = 0, S = 1, Q = 2

map2 = {'C' : 0, 'S':1, 'Q':2, np.nan:np.nan}

porigin = [map2[value] for value in titanic_df.Embarked]# complete

titanic_df['porigin'] = porigin

But wait! Does this actually make sense?

Our "numerification" has now introduced order where there previously was none. We are effectively telling the model that Cherbourg and Queenstown are far apart (not in distance but in terms of the similarity of the passengers that boarded the ship in each location), while each are equally close to Southampton. Is there actually any evidence to support this conclusion?

By definition categorical features do not have order (e.g., cat, dog, horse, elephant), and therefore we should not impose any when converting these features to numeric values for inclusion in our model. Instead, we should be creating a new set of binary features for every category within the feature set. Thus, `Embarked` will now need to be represented by 3 different features, where the feature `Queenstown` equals one for passengers that boarded there and zero for everyone else.

**Problem 3h**

Complete the function below that will automatically create binary arrays for a categorical feature.

In [14]:
def create_bin_cat_feats(feature_array):
    categories = np.unique(feature_array)
    feat_dict = {}
    for cat in categories:
        feat_dict[cat] = np.array([feature_array == cat], dtype=int )
    return feat_dict

**Problem 3i**

Use the `create_bin_cat_feats` function to convert the `Embarked` and `Sex`, yes we need to do this for `Sex` as well where we otherwise previously introduced order, categorical features to a numeric representation. Add these features to the `titanic_df` data frame.

In [17]:
porigin_dict['Q'].shape, porigin_dict['C'].shape, porigin_dict['S'].shape

((1, 889), (1, 889), (1, 889))

In [18]:
gender_dict['male'].shape, gender_dict['female'].shape

((1, 889), (1, 889))

In [19]:
gender_dict.keys()

dict_keys(['female', 'male'])

In [34]:
gender_dict = create_bin_cat_feats(titanic_df.Sex) # complete
porigin_dict = create_bin_cat_feats(titanic_df.Embarked) # complete

for feat in gender_dict.keys():
    titanic_df[feat] = gender_dict[feat][0,:]
    
for feat in porigin_dict.keys():
    titanic_df[feat] = porigin_dict[feat][0,:]

In [35]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,gender,porigin,female,male,C,Q,S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,0,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2,1,1,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,1,1,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,1,0,1,0,0,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,1,2,0,1,0,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,1,0,1,0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,1,1,0,1,0,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,1,1,0,0,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,2,0,1,0,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,2,1,1,0,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2,1,1,0,0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,1,1,0,1,0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,1,1,0,1,0,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,2,1,1,0,0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,2,1,1,0,0,0,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,1,2,0,1,0,1,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1,1,0,1,0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,2,1,1,0,0,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,2,0,1,0,1,0,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,1,1,0,1,0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1,1,0,1,0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,2,2,1,0,0,1,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1,1,0,1,0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,2,1,1,0,0,0,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,2,1,1,0,0,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,1,0,0,1,1,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,1,1,0,1,0,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,2,2,1,0,0,1,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,1,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,1,1,0,1,0,0,1
860,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,2,1,1,0,0,0,1
861,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,2,1,1,0,0,0,1
862,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,1,1,0,1,0,0,1
863,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,2,1,1,0,0,0,1
864,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,2,0,1,0,1,0,0
865,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,1,1,0,1,0,0,1
866,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,1,1,0,1,0,0,1
867,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,1,1,0,1,0,0,1
868,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,1,1,0,1,0,0,1
869,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,2,1,1,0,0,0,1
870,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,1,0,1,0,0,1
871,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,1,1,0,1,0,0,1
872,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,2,0,1,0,1,0,0
873,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,2,0,1,0,1,0,0
874,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,1,1,0,1,0,0,1
875,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,1,1,0,1,0,0,1
876,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,1,1,0,1,0,0,1
877,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,0,1,0,1,0,0
878,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,2,1,1,0,0,0,1
879,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,1,1,0,1,0,0,1
880,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,2,1,1,0,0,0,1
881,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,1,1,0,1,0,0,1
882,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,1,1,0,1,0,0,1
883,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,2,2,1,0,0,1,0
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1,1,0,1,0,0,1
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2,1,1,0,0,0,1
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2,1,1,0,0,0,1
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,0,0,1,1,0,0
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,2,0,1,0,1,0

**Problem 3j**

Use the newly created `female`, `male`, `S`, `Q`, and `C` features in combination with the `Pclass`, `SibSp`, `Parch`, and `Fare` features to estimate the classification accuracy of a $k = 7$ nearest neighbors model with 10-fold cross validation.

How does the addition of the point of origin feature affect the final model output?

*Hint - don't forget to scale the features in the model*

In [38]:
list(titanic_df)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked',
 'gender',
 'porigin',
 'female',
 'male',
 'C',
 'Q',
 'S']

In [44]:
from sklearn.preprocessing import MinMaxScaler

X = titanic_df[['Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'S', 'Q', 'C']]# complete

scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

cv_results = cross_val_score(knn_clf, Xminmax, y, cv = 10) # complete

print('The accuracy with categorical features = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy with categorical features = 80.09%

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

The last thing we'd like to add to the model is the `Age` feature. Unfortunately, for 177 passengers we do not have a reported value for their age. This is a standard issue when building models known as "missing data" and this happens in astronomy all the time (for example, LSST is going to observe millions of L and T dwarfs that are easily detected in the $y$-band, but which do not have a detection in $u$-band).

There are several different strategies for dealing with missing data. The first and most straightforward is to simply remove observations with missing data (note - to simplify this example I already did this by removing the 2 passengers from the training set that did not have an entry for `Embarked`). 

This strategy is perfectly fine if only a few sources have missing information (2/891 for `Embarked` - and none of the test set sources are missing `Embarked`). If, however, a significant fraction are missing data, this strategy would remove a lot of useful data from the model.

If you cannot remove the sources with missing data, then it is essential to ask the following question: 

Does the missing information have meaning? 

In the LSST L/T dwarf example, the lack of a $u$-band detection is meaningful: these stars are too faint for LSST. When this is the case, an indicator value (e.g., -999) allows the model to recognize the non-detection.

For the Titanic data, the lack of age information is not meaningful. Simply put, there are some passengers that did not have recorded ages. We will now show this to be the case.

**Problem 3k**

Replace the unknown ages with a value of -999, and estimate the accuracy of the model via 10-fold cross validation.

In [45]:
age_impute = titanic_df.Age.fillna(-999)# complete
# complete

titanic_df['age_impute'] = age_impute

X = titanic_df[['Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'S', 'Q', 'C', 'age_impute']]# complete

scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

cv_results = cross_val_score(knn_clf, Xminmax, y, cv = 10) # complete

print('The accuracy with -999 for missing ages = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy with -999 for missing ages = 80.42%

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

The accuracy of the model hasn't improved by adding the age information (even though we know children were more likely to survive than adults). 

Given that the missing ages don't have meaning, we need to develop alternative strategies for "imputing" the missing data. The most simple approach in this regard is to replace the missing values with the mean value of the feature distribution for sources that do have measurements (use the median if the distribution has significant outliers).

**Problem 3l**

Replace the unknown ages with the mean age of passengers, and estiamte the accuracy of the model via 10-fold cross validation.

In [47]:
age_impute = titanic_df.Age.fillna(-999)# complete
# complete

titanic_df['age_impute'] = age_impute

X = titanic_df[['Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'S', 'Q', 'C', 'age_impute']]# complete

scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

cv_results = cross_val_score(knn_clf, Xminmax, y, cv = 10) # complete

print('The accuracy with the mean for missing ages = {:.2f}%'.format(100*np.mean(cv_results)))

The accuracy with the mean for missing ages = 80.42%

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Using the mean age for missing values provides a marginal improvement over the models with no age information. Is there anything else we can do? Yes - we can build a machine learning model to predict the values of the missing data. So there will be a machine learning model within the final machine learning model. In order to predict ages, we will need to build a regression model. Simple algorithms include Linear or Logistic Regression, while more complex examples include `kNN` or random forest regression.

I quickly tested the above four methods, and found that the `scikit-learn` [`LinearRegression`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression) performs best when using the model defaults.

**Probem 3m**

Build a `LinearRegression` model to predict a passenger's age based on the `Pclass`, `SibSp`, `Parch`, `Fare`, `female`, `male`, `S`, `Q`, `C` features. The model should be trained with passengers that have known ages. Use 10-fold cross validation to determine the performance of this model.

*Hint - note that for regression models the typical metric of evaluation is the [mean squared error](https://en.wikipedia.org/wiki/Mean_squared_error), and that for consistency within the `scikit-learn` API, the [negative mean squared error is returned rather than the mean squared error](https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values).*

In [51]:
has_ages

array([  0,   1,   2,   3,   4,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  18,  20,  21,  22,  23,  24,  25,  27,  30,  33,
        34,  35,  37,  38,  39,  40,  41,  43,  44,  49,  50,  51,  52,
        53,  54,  56,  57,  58,  59,  60,  61,  62,  65,  66,  67,  68,
        69,  70,  71,  72,  73,  74,  77,  78,  79,  80,  82,  83,  84,
        85,  87,  88,  89,  90,  91,  92,  93,  95,  96,  97,  98,  99,
       101, 102, 103, 104, 105, 107, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 121, 122, 123, 124, 126, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 154, 155, 156, 159, 160, 161,
       162, 163, 164, 166, 168, 169, 170, 171, 172, 173, 174, 176, 177,
       178, 181, 182, 183, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       196, 198, 199, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210,
       211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 223, 224, 225,
       226, 227, 229, 230, 231, 232, 233, 235, 236, 237, 238, 241, 242,
       243, 244, 245, 246, 247, 248, 250, 251, 252, 253, 254, 256, 257,
       258, 260, 261, 262, 264, 265, 266, 267, 268, 270, 271, 272, 274,
       275, 277, 278, 279, 280, 281, 282, 284, 285, 286, 287, 288, 289,
       290, 291, 292, 293, 295, 296, 298, 301, 304, 306, 307, 308, 309,
       310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322,
       324, 325, 326, 327, 328, 330, 331, 332, 335, 336, 337, 338, 339,
       340, 341, 342, 343, 344, 345, 347, 348, 349, 351, 352, 354, 355,
       356, 359, 360, 361, 362, 364, 365, 368, 369, 370, 371, 372, 373,
       375, 376, 377, 378, 379, 380, 381, 382, 384, 385, 386, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 411, 413, 415, 416, 417, 418, 420, 421,
       422, 423, 425, 426, 428, 429, 431, 432, 433, 434, 435, 436, 437,
       438, 439, 440, 441, 442, 444, 445, 446, 447, 448, 449, 451, 452,
       454, 455, 457, 459, 460, 461, 462, 464, 466, 468, 470, 471, 472,
       473, 475, 476, 477, 478, 479, 481, 482, 483, 485, 486, 487, 488,
       490, 491, 492, 493, 495, 497, 498, 499, 500, 502, 503, 504, 505,
       507, 508, 509, 511, 512, 513, 514, 515, 517, 518, 519, 520, 522,
       524, 525, 527, 528, 529, 531, 533, 534, 535, 536, 538, 539, 540,
       541, 542, 543, 544, 545, 547, 548, 549, 550, 552, 553, 554, 555,
       557, 558, 560, 561, 564, 565, 566, 568, 569, 570, 571, 573, 574,
       575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 587, 589, 590,
       591, 593, 594, 596, 598, 599, 602, 603, 604, 605, 606, 607, 608,
       609, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 629, 630, 631, 633, 634, 635, 636, 637, 639, 640,
       641, 643, 644, 645, 646, 648, 650, 651, 653, 654, 656, 657, 658,
       659, 660, 661, 662, 663, 664, 665, 667, 669, 670, 671, 672, 674,
       675, 676, 677, 678, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 692, 693, 694, 695, 697, 698, 699, 700, 701, 702, 703,
       704, 705, 706, 707, 709, 711, 712, 713, 714, 715, 716, 718, 719,
       720, 721, 722, 723, 724, 725, 727, 728, 729, 730, 732, 733, 734,
       735, 736, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750,
       751, 752, 753, 754, 755, 756, 757, 758, 760, 761, 762, 763, 764,
       766, 768, 769, 770, 771, 773, 774, 776, 778, 779, 780, 781, 783,
       784, 785, 786, 787, 788, 790, 793, 794, 795, 796, 797, 798, 799,
       800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812,
       813, 815, 816, 817, 818, 819, 820, 821, 822, 823, 826, 828, 829,
       831, 832, 833, 834, 836, 838, 839, 840, 841, 842, 843, 845, 846,
       848, 849, 850, 851, 852, 853, 854, 855, 856, 858, 859, 860, 862,
       863, 864, 865, 867, 868, 869, 870, 871, 872, 873, 874, 875, 877,
       878, 879, 880, 881, 882, 883, 884, 885, 887, 888])

In [48]:
from sklearn.linear_model import LinearRegression

has_ages = np.where(np.isfinite(titanic_df['Age']))[0]

impute_X_train = has_ages[['Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'S', 'Q', 'C']]# complete
impute_y_train = has_ages.Ages# complete

scaler = MinMaxScaler()
scaler.fit(impute_X_train)
Xminmax = scaler.transform(impute_X_train)

lr_age = LinearRegression().fit(impute_X_train, impute_y_train) # complete

cv_results = cross_val_score(LinearRegression(), Xminmax, impute_y_train, cv=10, scoring='neg_mean_squared_error')

print('Missing ages have RMSE = {:.2f}'.format(np.mean((-1*cv_results)**0.5)))

/home/daniela/anaconda3/envs/DSFP/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  """

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

**Problem 3n**

Use the age regression model to predict the ages for passengers with missing data.

In [ ]:
missing_ages = np.where(np.isnan(titanic_df['Age']))[0]

impute_X_missing = # complete

X_missing_minmax = scaler.transform(impute_X_missing)

age_preds = lr_age.predict(X_missing_minmax)

**Problem 3o**

Use the imputed age estimates to predict the passenger survival via 10-fold cross validation.

In [ ]:
age_impute = titanic_df['Age'].copy().values
age_impute[missing_ages] = # complete

titanic_df['age_impute'] = age_impute

X = # complete

scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

cv_results = cross_val_score( # complete

print('The accuracy with the mean for missing ages = {:.2f}%'.format(100*np.mean(cv_results)))

As far as ages are concerned, imputation of the missing data does not significantly improve the model.

Which brings us to the concluding lesson in wrangling the Titanic data - not every piece of information is *useful*. This is critical to remember when building machine learning models.

(As a quick aside - it wouldn't be entirely fair to say there is no useful information in the age feature. It is clear, for example, that "children," i.e. those with Age < 10, had a much higher probability of survival than adults. Perhaps the creation of a `child` feature based on age would improve the model... or using the age in combination with other features, e.g., `Age`x`Pclass` which will further highlight that 1st class passengers were more likely to survive than 3rd class passengers)

Finally - note that you can try to build a model and submit it to Kaggle to see how well you preform on blind data. 

https://www.kaggle.com/c/titanic - the classifications are not revealed, but from the [leaderboard](https://www.kaggle.com/c/titanic/leaderboard) it is clear that some people were able to build models that perfectly classified the blind data.

## Problem 4) Wrangling an astro machine learning model

Now we will put together the above examples to work on an astronomical problem of great importance for LSST: photometric redshifts. As we have previously discussed, LSST will observe many, many, many, many more galaxies than we can possibly observe with spectroscopic instruments. As a result, the vast majority of the galaxies observed by LSST will not have precise redshift estimates, and instead we will need to estimate redshifts via photometry alone.

This week we have heard a lot about `SDSS CasJobs`, and for today's problem we will use 50,000 SDSS sources with spectroscopic measurements to train a machine learning model to estimate redshifts from photometry. The following query was used to generate this training set: 

    select top 50000 s.specObjID, s.z, s.type,
       psfMag_u, psfMag_g, psfMag_r, psfMag_i, psfMag_z, 
       modelMag_u, modelMag_g, modelMag_r, modelMag_i, modelMag_z,
       extinction_u, extinction_g, extinction_r, extinction_i, extinction_z,
       w.w1mpro, w1snr, w.w2mpro, w2snr, w.w3mpro, w3snr, w.w4mpro, w4snr
       from specphotoall s 
         join (WISE_xmatch wx  
           join WISE_allsky w on wx.wise_cntr = w.cntr) on s.objid = wx.sdss_objid

A few notes about the data: `specObjID` is the SDSS identifier, `z` is the redshift, `type` is the photometric type ("ps" for point source or "ext" for extended), `psfMag` is the SDSS PSF mag in each filter, `modelMag` is the aperture-matched model mag in each filter, `extinction` is the SFD extinction estimate, `w?mpro` is the [WISE](https://www.nasa.gov/mission_pages/WISE/main/index.html) satellite mid-IR magnitude in the W1, W2, W3, and W4 bands, and `w?msnr` is the SNR in each of the respective filters.

*quick aside* - the SDSS photometric type is reported as either 6 or 3, and, for convenience, I have converted these to 'ps' and 'ext' in the file used for the problem below.

**Important note** - not every SDSS source will have detections in each of the WISE filters. If `w?msnr` < 2, then the `w?mpro` number represents an upper limit, *not* a detection (i.e., these are cases with missing data).

**Problem 4a**

Download and read in the [training set](https://northwestern.box.com/s/sjegm0tx62l2i8dkzqw22s4gmq1a9sg1) for the model.

In [ ]:
sdss = pd.read_csv("DSFP_SDSS_spec_train.csv")
sdss[:5]

**Problem 4b**

Are there categorical features in the dataset? If yes, convert the categorical features for use in machine learning models.

*Hint* - recall **Problem 3h** and **3i**.

In [ ]:
type_dict = create_bin_cat_feats( # complete

# complete
# complete

**Problem 4c**

Is there missing data in the training set? If yes, how will you deal these data? 

*Hint* - you were already told there is missing data.

In [ ]:
# WISE non-detections have SNR < 2

for wsnr in ['w1snr', 'w2snr', 'w3snr', 'w4snr']:
    frac_missing = # complete
    print('{:.2f}% of the obs in {} are non-detections'.format(100*frac_missing, wsnr[0:2]))

Given that there are obs missing in each filter, with a substantial number missing in W3 and W4, we will create a new categorical variable for detection in each filter. We will also replace "upper limits" with -9.99 (do this in the cell below).

(Alternative strategies that could prove worthwhile include: removing W3 and W4 as they are largely missing, imputing the missing values for non-detections, or removing individual sources with non-detections. This last choice would really cut the training set).

In [ ]:
for filt in ['w1', 'w2', 'w3', 'w4']:
    det = np.ones(len(sdss)).astype(int)
    det[np.where(sdss['{}snr'.format(filt)] < 2)] = 0
    sdss['{}det'.format(filt)] = det
    mag = sdss['{}mpro'.format(filt)].values
    mag[det == 0] = -9.99
    sdss['{}mag'.format(filt)] = mag

Now that we have dealt with missing and categorical data we can construct out machine learning model. We will use a $k$ nearest neighbors regression model to determine how well we can measure photometric redshifts.

The `sdss` dataframe now includes far more columns than are necessary for the model. Should any of these be excluded from the fitting?

**Problem 4d**

Build a `scikit-learn` appropriate `X` and `y` array for the features and labels (i.e. redshifts) of the photo-z training set.

In [ ]:
X = # complete
y = # complete

**Problem 4e**

Estimate the RMSE for a [`KNeighborsRegression`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html) via 10 fold CV.

*Hint* - use [`cross_val_predict`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html) in this case so you can plot $z_\mathrm{SDSS}$ vs. $z_\mathrm{kNN}$.

*Hint 2* - make the plot in a separate cell so you can adjust it without needing to re-run the CV.

In [ ]:
# cross validation goes here
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_error

knn_reg = # complete
y_preds = cross_val_predict( # complete
print('The RMSE = {}'.format(np.sqrt(mean_squared_error(y,y_preds))))

In [ ]:
# plotting goes here

fig, ax = plt.subplots(figsize=(7,7))
ax.scatter( # complete
ax.plot([0,6],[0,6], 'Crimson')
ax.set_xlabel('z_SDSS')
ax.set_ylabel('z_kNN')

If you made a plot of redshift vs. predictions, you likely saw that there are many sources that are far from the 1 to 1 line. These are called catastrophic outliers, and they are a serious problem for science programs that rely on photometric redshifts.

**Problem 4f**

Write a function that takes input arrays `ground_truth` and `predictions` and determines the fraction of the dataset that is catastrophic outliers. For today's purposes we will say a catastrophic outlier is one where the prediction differs by 20%.

In [ ]:
def catastrophic_fraction(ground_truth, predictions, threshold=0.2):
    '''Function to calculate fraction of predictions that are catastrophic outliers
    
    Parameter
    ---------
    ground_truth : array-like
        Correct labels for the model sources
    
    predictions : array-like
        Predictions for the model sources
    
    threshold : float (optional, default=0.2)
        The threshold to determine if a "miss" is catastrophic or not
    
    Returns
    -------
    oh_nos : float
        Fractional number of catastrophic outliers
    '''
    # complete
    # complete

    return oh_nos

**Problem 4g**

How many catastrophic outliers did your previous predictions have?

In [ ]:
catastrophic_fraction( # complete

Earlier we saw that the performance of a kNN model greatly improves with feature scaling.

**Problem 4h**

Use a MinMax scaler to scale the features, performs 10 fold cross-validation, and estimate the catastrophic outlier fraction.

In [ ]:
scaler = MinMaxScaler()
scaler.fit(X)
Xminmax = scaler.transform(X)

knn_reg = KNeighborsRegressor(n_neighbors=7)
y_preds = cross_val_predict( # complete
print('The RMSE = {}'.format(np.sqrt(mean_squared_error(y,y_preds))))
print('{} are catastrophic'.format(catastrophic_fraction(y, y_preds)))

In [ ]:
# plotting goes here

fig, ax = plt.subplots()
ax.scatter( # complete
ax.plot([0,6],[0,6], 'Crimson')
ax.set_xlabel('z_SDSS')
ax.set_ylabel('z_kNN')

The MinMax scaler didn't help at all!

Perhaps we need a different kind of wrangling for this data set - feature engineering. (For example, does it make sense to include `extinction` as a feature, or should we instead combine the extinction with the observed magnitudes to get extinction corrected brightness measurements?)

Finally - we close with a machine learning question, not a data wrangling question. Does it actually make sense to use a kNN model for datasets that have categorical features?

**Problem 4i**

Build a better machine learning model, possibly with the use of different features, to improve the model classification performance.

*Hint* - there was a hint about this in yesterday's lecture.

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# complete
# complete
# complete
# complete

In [ ]:
# plotting goes here

fig, ax = plt.subplots(figsize=(8,8))
ax.scatter( # complete
ax.plot([0,6],[0,6], 'Crimson')
ax.set_xlim(-0.1,4)
ax.set_ylim(-0.1,4)
ax.set_xlabel('z_SDSS')
ax.set_ylabel('z_kNN')